<<<<<<< HEAD
<div class="container">
  <h1><b>autoPLAYLIST</b></h1>
  <h2>
    <b>/home</b>
  </h2>
  
  <%= image_tag 'main-image.svg' %>
=======
<div class="center jumbotron">
  <h1>Create Playlist!</h1>

  <h2>
    Whenever create playlist.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>

  <% if @user.present? %>
    <p><%= @user %></p>
  <% end %>
>>>>>>> origin/main
</div>